RewriteEngine on

#Route des Tables =============================================

#SHOW TABLE
#Pattern: show/table/{namOfTable}
#Target : index.php/?table=x

RewriteRule ^show/table/(([a-z0-9][a-z0-9\-_]*)*[a-z0-9])$ index.php/?table=$1 [L]

#Route de users =============================================

#LOGOUT
#Pattern: users/logout
#Target : index.php/?users=logout

rewriteRule ^users/logout$ index.php/?users=logout [L]

#Route par defaut =============================================


#route defaut
#Pattern: /
#Target : /

RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]